*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #ffffff;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(137, 137, 137);
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1330px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container-fluid {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  display: block;
  color: #FF4415;
  font-family: "Seaweed Script", cursive;
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
}
.section-center {
  text-align: center;
}

.btn-primary {
  display: inline-block;
  padding: 22px 16px 22px 20px;
  border-radius: 16px;
  cursor: pointer;
}
.btn-icon {
  padding: 12px 15px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 15px;
}
.btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.hide {
  display: none;
}

.btn-Gdn1 {
  background: linear-gradient(101.98deg, #46C266 41.25%, #2FB652 98.64%);
  box-shadow: 0px 10px 20px -10px rgba(59, 189, 93, 0.16);
}
.btn-Gdn1-color1 {
  color: #36BA58;
}
.btn-Gdn2 {
  background: linear-gradient(101.98deg, #FF6741 41.25%, #FF4415 98.64%);
  box-shadow: 0px 10px 20px -10px rgba(232, 86, 49, 0.16);
}
.btn-Gdn2-color2 {
  color: #FF6139;
}
.btn-Gdn3 {
  background: linear-gradient(101.98deg, #FFBC2D 41.25%, #FEB618 98.64%);
  box-shadow: 0px 10px 20px -10px rgba(232, 86, 49, 0.16);
}
.btn-Gdn3-color3 {
  color: #FFBB27;
}

.header {
  margin-top: 40px;
  margin-bottom: 70px;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-auth {
  display: flex;
  align-items: center;
  gap: 0 12px;
}
.header-signup-link {
  color: #ffffff;
  padding: 13px 16px;
  background: linear-gradient(180deg, #272727 0%, #171717 46.01%, #101010 100%);
  border-radius: 12px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #232323;
  transition: color 0.3s ease-in-out;
  position: relative;
}
.menu-link::after {
  position: absolute;
  bottom: -10px;
  left: auto;
  right: 0;
  width: 0;
  content: "";
  width: 0;
  height: 3px;
  background-color: #FF4415;
  transition: width 0.3s ease-in-out;
}
.menu-link:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}
.menu-link:hover {
  color: #FF4415;
}
.menu-toggle {
  display: none;
  font-size: 30px;
}

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  width: 350px;
  z-index: 9999;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transform: translateX(130%);
  transition: transform 0.3s linear;
  will-change: transform;
}
.navigation.active {
  transform: translateX(0%);
}
.navigation-close {
  cursor: pointer;
  font-size: 36px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.navigation-list {
  height: 100%;
  padding: 70px 40px;
}
.navigation-item {
  display: block;
  padding: 17px;
  margin-bottom: 15px;
}
.navigation-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: #232323;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.navigation-link::after {
  position: absolute;
  bottom: -10px;
  left: auto;
  right: 0;
  width: 0;
  content: "";
  width: 0;
  height: 3px;
  background-color: #FF4415;
  transition: width 0.3s ease-in-out;
}
.navigation-link:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}
.navigation-link:hover {
  color: #FF4415;
}
.navigation-auth {
  display: flex;
  align-items: center;
}
.navigation-signup-button {
  cursor: pointer;
  border: none;
  outline: none;
}
.navigation-signup-button-link {
  padding: 13px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background: linear-gradient(180deg, #272727 0%, #171717 46.01%, #101010 100%);
  border-radius: 12px;
}

.hero {
  margin-bottom: 80px;
}
.hero-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}
.hero-title {
  margin-bottom: 16px;
}
.hero-heading {
  font-weight: 700;
  font-size: 62px;
  line-height: 72px;
  color: #101010;
  margin-bottom: 22px;
}
.hero-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #646464;
  margin-bottom: 34px;
  max-width: 452px;
}
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-location {
  margin-bottom: 50px;
}
.hero-form {
  display: flex;
  align-items: center;
}
.hero-form-input {
  display: flex;
  align-items: center;
  border: 1px solid #00BE4C;
  border-radius: 15px 0px 0px 15px;
  padding: 23px 18px 23px 16px;
}
.hero-form-input input {
  outline: none;
  border: none;
  margin-right: 53px;
}
.hero-form-input input::placeholder {
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  color: #b1b1b1;
}
.hero-form-input img {
  margin-right: 19px;
}
.hero-form-button {
  display: flex;
  align-items: center;
  background: linear-gradient(92.18deg, #3FDA7D 48.17%, #00BE4C 100%);
  border-radius: 0px 15px 15px 0px;
  padding: 13px 16px 13px 20px;
  border: 1px solid #00BE4C;
  outline: 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.hero-form-button i {
  padding: 12px 15px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 15px;
  color: #00BE4C;
}
.hero-member {
  color: #838383;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
.hero-member-link {
  color: #FF4D20;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}

.food {
  margin-bottom: 70px;
}
.food-header {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 56px;
}
.food-header-heading {
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #101010;
}
.food-item {
  padding: 0 20px 0 30px;
  background-color: #F7F7F7;
  border-radius: 24px;
  display: flex !important;
  align-items: center !important;
  height: 130px;
  gap: 32px;
}
.food-content {
  width: 30%;
}
.food-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}
.food-pricing {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #171717;
}
.food-pricing span {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FF4415;
}
.food-image {
  transform: translateY(-20%);
}
.food-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-initialized .slick-slide {
  margin: 70px 10px;
}
.slick-arrow {
  position: absolute;
  top: -37%;
  right: 0;
}
.slick-prev {
  right: 5%;
}
.slick-arrow, .slick-prev {
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  padding: 13px 13px;
  cursor: pointer;
  border-radius: 100rem;
  font-size: 20px;
  background-color: #d3d3d3;
  color: #ffffff;
  z-index: 2;
  transition: all 0.3s ease-in;
}
.slick-arrow:hover, .slick-prev:hover {
  background-color: #101010;
}

.order {
  margin-bottom: 110px;
}
.order-title {
  text-align: center;
  margin-bottom: 10px;
}
.order-heading {
  font-weight: 700;
  font-size: 52px;
  line-height: 62px;
  max-width: 432px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 55px;
  color: #101010;
}
.order-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  margin-bottom: 96px;
}
.order-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.order-item-image {
  margin-bottom: 40px;
}
.order-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.order-item-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 24px;
  color: #171717;
  margin-bottom: 24px;
}
.order-item-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #646464;
  width: 100%;
  max-width: 270px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.order-offer-main {
  display: flex;
  align-items: center;
  gap: 280px;
  border-radius: 24px;
  padding: 21px 50px;
  background: linear-gradient(115deg, #FEB618 50%, #2FB652 0%);
}
.order-offer-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 22px;
}
.order-offer-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  max-width: 349px;
  width: 100%;
}
.order-offer-images {
  display: flex;
  align-items: center;
  gap: 10px;
}
.order-offer-images-item:first-child {
  transform: translateY(30px);
}
.order-offer-images-item:nth-child(2) {
  transform: translate(-25px, -80px);
}
.order-offer-images-item:nth-child(3) {
  transform: translateY(-30px);
}
.order-offer-images-item-text {
  font-family: "Seaweed Script", cursive;
  font-weight: 400;
  font-size: 43px;
  color: #ffffff;
  line-height: 30px;
  transform: translate(15px, -45px) rotate(-18.51deg);
}
.order-offer-images-item-text span {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.order-offer-images-item:nth-child(5) {
  transform: translate(-60px, 70px);
}
.order-offer-images-item:nth-child(6) {
  transform: translate(-80px, -35px);
}

.product {
  margin-bottom: 120px;
}
.product-section-title {
  margin-bottom: 8px;
}
.product-heading {
  font-weight: 700;
  font-size: 52px;
  line-height: 62px;
  color: #101010;
  width: 100%;
  max-width: 590px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-bottom: 55px;
}
.product-item {
  padding: 21px 35px 21px 28px;
  border: 1.2px solid #EFEFEF;
  border-radius: 24px;
  transition: all 0.2s ease-in;
}
.product-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 7px rgba(143, 143, 143, 0.2);
}
.product-item-image {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.product-item-image img {
  object-fit: cover;
}
.product-item-rating {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.product-item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #181818;
  margin-bottom: 12px;
}
.product-item-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #787878;
  width: 100%;
  max-width: 287px;
  margin-bottom: 17px;
}
.product-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-item-price {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.product-item-media {
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(101.98deg, #46C266 41.25%, #2FB652 98.64%);
  box-shadow: 0px 10px 20px -10px rgba(58, 186, 90, 0.16);
}
.product-button-icon {
  box-shadow: 0px 10px 20px -8px rgba(185, 66, 42, 0.19);
  color: #36BD59;
}

.location {
  margin-bottom: 106px;
}
.location-section-title {
  margin-bottom: 8px;
}
.location-heading {
  font-weight: 700;
  font-size: 52px;
  line-height: 62px;
  color: #101010;
  text-align: center;
  width: 100%;
  max-width: 589px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}
.location-pickup {
  display: flex;
  justify-content: space-around;
  gap: 68px;
}
.location-content-header {
  display: flex;
  align-items: center;
  gap: 58px;
  margin-bottom: 80px;
}
.location-content-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #101010;
  margin-bottom: 10px;
}
.location-content-caption {
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  color: #c0c0c0;
}
.location-point-item {
  margin-bottom: 53px;
}
.location-point-caption {
  color: #36BD59;
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.2em;
}
.location-point-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #c7c7c7;
  margin-bottom: 33px;
}
.location-point-tick {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.2px solid #F0F0F0;
  padding-bottom: 20px;
}
.location-point-tick-road {
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.005em;
  color: #101010;
}

.blog {
  margin-bottom: 250px;
}
.blog-section-title {
  margin-bottom: 8px;
}
.blog-header {
  text-align: center;
  margin-bottom: 70px;
}
.blog-header-heading {
  font-weight: 700;
  font-size: 52px;
  line-height: 62px;
  color: #101010;
  max-width: 590px;
  width: 100%;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
}
.blog-header-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #646464;
  margin-left: auto;
  margin-right: auto;
  max-width: 452px;
  width: 100%;
}
.blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 33px;
}
.blog-item {
  box-shadow: 0px 25px 120px -30px rgba(0, 0, 0, 0.08);
}
.blog-item-image {
  height: 220px;
}
.blog-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-item-content {
  padding: 32px 68px 38px 30px;
}
.blog-item-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 22px;
  color: #1b1b1b;
  margin-bottom: 14px;
}
.blog-item-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #939393;
  margin-bottom: 24px;
  max-width: 270px;
  width: 100%;
}

.application {
  margin-bottom: 120px;
}
.application-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 179px;
}
.application-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #101010;
  margin-bottom: 22px;
}
.application-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  max-width: 349px;
  width: 100%;
  color: #646464;
  margin-bottom: 40px;
}
.application-store {
  display: flex;
  align-items: center;
  gap: 48px;
}
.application-store-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 24px;
  border: 1px solid #dbdbdb;
  border-radius: 19px;
}
.application-store-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #000000;
}

.subscribe {
  margin-bottom: 120px;
}
.subscribe-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 92px;
  padding: 61px 106px;
  background: linear-gradient(115deg, #FF4415 50%, #FEB618 50%);
  border-radius: 24px;
}
.subscribe-content-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 22px;
}
.subscribe-content-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  max-width: 349px;
}
.subscribe-form {
  display: flex;
  align-items: center;
}
.subscribe-form-input input {
  border: none;
  outline: none;
  padding: 25px 90px 25px 25px;
  border-radius: 15px 0px 0px 15px;
}
.subscribe-form-input input::placeholder {
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  color: #b1b1b1;
}
.subscribe-form-button {
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 15px 15px 15px 23px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 10px 20px -10px rgba(234, 234, 234, 0.4);
  border-radius: 0px 16px 16px 0px;
  background-color: #2FB652;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.subscribe-form-button-icon {
  padding: 12px 15px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #00BE4C;
}

.countries {
  margin-bottom: 100px;
}
.countries-heading {
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #101010;
  margin-bottom: 42px;
}
.countries-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 100px;
}
.countries-item {
  margin-bottom: 23px;
}
.countries-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #666666;
  margin-bottom: 23px;
}

.footer {
  background-color: #F8F8F8;
}
.footer-main {
  padding-top: 62px;
}
.footer-content {
  display: grid;
  grid-template-columns: 3fr repeat(4, 1fr);
  grid-gap: 134px;
}
.footer-logo {
  margin-bottom: 35px;
}
.footer-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #030000;
  margin-bottom: 40px;
}
.footer-link {
  display: block;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #666666;
  margin-bottom: 17px;
}
.footer-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #767676;
  margin-bottom: 40px;
}
.footer-social {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-bottom: 59px;
}
.footer-coppyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 25px 0;
  border-top: 1px solid #E6E6E6;
}
.footer-coppyright-site {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #666666;
}
.footer-coppyright-name-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #666666;
  margin-bottom: 10px;
}
.footer-coppyright-name-text span {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #3E3E3E;
}

@media screen and (max-width: 1024.98px) {
  .section-title {
    font-size: 35px;
  }
}
@media screen and (max-width: 374.98px) {
  .section-title {
    font-size: 25px;
  }
}

@media screen and (max-width: 768.98px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);
    padding: 25px;
    margin: 0;
    z-index: 1000;
  }
  .header-menu {
    display: none;
  }
  .header-auth {
    display: none;
  }
}
@media screen and (max-width: 375.98px) {
  .header {
    padding: 20px 5px;
  }
}

@media screen and (max-width: 768.98px) {
  .menu-toggle {
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 465.98px) {
  .navigation {
    width: 260px;
  }
  .navigation-auth {
    flex-wrap: wrap;
  }
  .navigation-list {
    padding: 50px 30px;
  }
  .navigation-item {
    margin-bottom: 13px;
  }
}

@media screen and (min-width: 1399.98px) {
  .hero-image {
    transform: translateX(12%);
  }
}
@media screen and (max-width: 1023.98px) {
  .hero-main {
    flex-direction: column-reverse;
    gap: 35px;
  }
  .hero-heading {
    font-size: 53px;
  }
  .hero-desc {
    font-size: 16px;
  }
  .hero-member {
    font-size: 16px;
  }
  .hero-content, .hero-image {
    width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .hero {
    margin-top: 185px;
  }
  .hero-heading {
    font-size: 43px;
  }
  .hero-desc {
    font-size: 15px;
  }
  .hero-member {
    font-size: 15px;
  }
}
@media screen and (max-width: 479.98px) {
  .hero-heading {
    font-size: 32px;
  }
  .hero-location {
    margin-bottom: 30px;
  }
  .hero-form {
    flex-direction: column;
    gap: 20px;
  }
  .hero-form-input {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
  }
  .hero-form-input-icon {
    display: none;
  }
  .hero-form-discover {
    width: 100%;
  }
  .hero-form-button {
    border-radius: 15px;
  }
}
@media screen and (max-width: 374.98px) {
  .hero-heading {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
  }
  .hero-desc {
    font-size: 15px;
  }
  .hero-member {
    font-size: 15px;
  }
  .hero-member-link {
    font-size: 17px;
  }
  .hero-form-input {
    padding: 20px;
  }
  .hero-form-button {
    padding: 10px 15px;
  }
}

@media screen and (max-width: 767.98px) {
  .food-header {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 567.98px) {
  .food-item {
    height: 160px;
  }
}
@media screen and (max-width: 494.98px) {
  .food-header-heading {
    font-size: 32px;
  }
}

@media screen and (max-width: 1024.98px) {
  .slick-prev {
    right: 7%;
  }
}
@media screen and (max-width: 767.98px) {
  .slick-prev {
    right: 9%;
  }
  .slick-arrow {
    top: -27%;
  }
}

@media screen and (max-width: 1149.98px) {
  .order-offer-main {
    flex-direction: column;
    background: 0;
    padding: 0;
    gap: 40px;
  }
  .order-offer-content {
    background-color: #FEB618;
    padding: 61px 20px;
    border-radius: 24px;
    width: 100%;
    height: 240px;
  }
  .order-offer-images {
    background-color: #2FB652;
    justify-content: space-between;
    padding: 20px;
    border-radius: 24px;
    width: 100%;
    height: 240px;
  }
}
@media screen and (max-width: 1023.98px) {
  .order-heading {
    font-size: 46px;
  }
}
@media screen and (max-width: 767.98px) {
  .order-heading {
    font-size: 40px;
  }
  .order-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .order-offer-images img {
    width: 100px;
    object-fit: cover;
  }
}
@media screen and (max-width: 494.98px) {
  .order-heading {
    font-size: 32px;
  }
  .order-list {
    grid-template-columns: 1fr;
  }
  .order-offer-images img {
    width: 60px;
    object-fit: cover;
  }
  .order-offer-images-item:nth-child(6) {
    transform: translate(-32px, -35px);
  }
}
@media screen and (max-width: 350.98px) {
  .order-offer-images img {
    width: 40px;
    object-fit: cover;
  }
}

@media screen and (max-width: 1023.98px) {
  .product-heading {
    font-size: 46px;
  }
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767.98px) {
  .product-heading {
    font-size: 40px;
  }
  .product-list {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 494.98px) {
  .product-heading {
    font-size: 32px;
  }
}

@media screen and (max-width: 1023.98px) {
  .location-heading {
    font-size: 46px;
  }
}
@media screen and (max-width: 768.98px) {
  .location-heading {
    font-size: 40px;
  }
}
@media screen and (max-width: 494.98px) {
  .location-pickup {
    flex-direction: column;
    gap: 10px;
  }
  .location-heading {
    font-size: 32px;
  }
  .location-content {
    width: 100%;
  }
  .location-content-header {
    gap: 30px;
  }
  .location-content-title {
    font-size: 25px;
  }
  .location-image {
    width: 100%;
  }
  .location-point-caption {
    font-size: 13px;
  }
  .location-point-title {
    font-size: 25px;
  }
  .location-point-tick-road {
    font-size: 13px;
  }
}

@media screen and (max-width: 1023.98px) {
  .blog {
    margin-bottom: 150px;
  }
  .blog-header-heading {
    font-size: 46px;
  }
  .blog-header-desc {
    font-size: 15px;
  }
  .blog-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767.98px) {
  .blog {
    margin-bottom: 100px;
  }
  .blog-header-heading {
    font-size: 40px;
  }
}
@media screen and (max-width: 667.98px) {
  .blog-list {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 494.98px) {
  .blog-header-heading {
    font-size: 32px;
  }
  .blog-header-desc {
    font-size: 14px;
  }
}

@media screen and (max-width: 1023.98px) {
  .application {
    margin-bottom: 90px;
  }
  .application-main {
    gap: 60px;
  }
}
@media screen and (max-width: 767.98px) {
  .application-main {
    flex-direction: column;
  }
  .application-content, .application-image {
    width: 100%;
  }
}
@media screen and (max-width: 494.98px) {
  .application-image {
    width: unset;
  }
  .application-store {
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 1023.98px) {
  .subscribe {
    margin-bottom: 90px;
  }
  .subscribe-main {
    gap: 45px;
  }
  .subscribe-form {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .subscribe-form-input input, .subscribe-form-button {
    border-radius: 20px;
  }
}
@media screen and (max-width: 768.98px) {
  .subscribe-main {
    gap: 40px;
    padding: 60px 50px;
    flex-wrap: wrap;
  }
  .subscribe-form {
    flex-direction: row;
  }
}
@media screen and (max-width: 637.98px) {
  .subscribe-form {
    flex-direction: column;
  }
}
@media screen and (max-width: 437.98px) {
  .subscribe-main {
    gap: 30px;
    padding: 40px;
  }
  .subscribe-form-input input {
    padding-right: 0;
  }
}

@media screen and (max-width: 1023.98px) {
  .countries {
    margin-bottom: 90px;
  }
  .countries-heading {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .countries-content {
    gap: 50px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 767.98px) {
  .countries-heading {
    font-size: 25px;
    margin-bottom: 40px;
  }
  .countries-content {
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 357.98px) {
  .countries-content {
    gap: 30px;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1279.98px) {
  .footer-content {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 44px 134px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1023.98px) {
  .footer-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 767.98px) {
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 70px;
  }
}
@media screen and (max-width: 357.98px) {
  .footer-content {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}

/*# sourceMappingURL=app.css.map */
