.application {
   margin-bottom: 120px;

   &-main {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 179px;
   }

   &-title {
      font-weight: 700;
      font-size: 34px;
      line-height: 40px;
      color: $heading-color;
      margin-bottom: 22px;
   }

   &-desc {
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      max-width: 349px;
      width: 100%;
      color: $text-color;
      margin-bottom: 40px;
   }

   &-store {
      display: flex;
      align-items: center;
      gap: 48px;

      &-item {
         display: flex;
         align-items: center;
         gap: 20px;
         padding: 16px 24px;
         border: 1px solid #dbdbdb;
         border-radius: 19px;
      }

      &-link {
         font-weight: 500;
         font-size: 14px;
         line-height: 15px;
         color: #000000;
      }
   }
}