body {
   background: $white-color;
   font-family: $primary-font;
   overflow-x: hidden;

   // Thay đổi màu và kích thước thanh cuộn
   &::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5;
   }

   // Thay đổi thanh cuộn khi keo chuột
   &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: rgb(137, 137, 137);
   }

   // Thay đổi không gian giữa thanh cuộn
   &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #F5F5F5;
   }
}

.wrapper {
   max-width: 1440px;
   margin-left: auto;
   margin-right: auto;
}

.container {
   max-width: 1330px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;

   &-fluid {
      max-width: 1230px;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
   }
}

.section {
   &-title {
      display: block;
      color: $section-title;
      font-family: $secondary-font;
      font-weight: 400;
      font-size: 44px;
      line-height: 50px;
   }

   &-center {
      text-align: center;
   }
}

.btn {
   &-primary {
      display: inline-block;
      padding: 22px 16px 22px 20px;
      border-radius: 16px;
      cursor: pointer;
   }

   &-icon {
      padding: 12px 15px;
      background-color: $white-color;
      border-radius: 10px;
      margin-left: 15px;
   }

   &-text {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: $white-color;
   }
}

.hide {
   display: none;
}

.btn {
   &-Gdn1 {
      background: linear-gradient(101.98deg, #46C266 41.25%, #2FB652 98.64%);
      box-shadow: 0px 10px 20px -10px rgba(59, 189, 93, 0.16);

      &-color1 {
         color: #36BA58;
      }
   }

   &-Gdn2 {
      background: linear-gradient(101.98deg, #FF6741 41.25%, #FF4415 98.64%);
      box-shadow: 0px 10px 20px -10px rgba(232, 86, 49, 0.16);

      &-color2 {
         color: #FF6139;
      }
   }

   &-Gdn3 {
      background: linear-gradient(101.98deg, #FFBC2D 41.25%, #FEB618 98.64%);
      box-shadow: 0px 10px 20px -10px rgba(232, 86, 49, 0.16);

      &-color3 {
         color: #FFBB27;
      }
   }
}