.hero {
    margin-bottom: 80px;

    &-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 90px;
    }

    &-content {
        max-width: 515px;
        width: 100%;
    }

    &-title {
        margin-bottom: 16px;
    }

    &-heading {
        font-weight: 700;
        font-size: 62px;
        line-height: 72px;
        color: $heading-color;
        margin-bottom: 22px;
    }

    &-desc {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: $text-color;
        margin-bottom: 34px;
    }

    &-image {
        transform: translateX(6%);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-location {
        margin-bottom: 50px;
    }

    &-form {
        display: flex;
        align-items: center;
        gap: 40px;
        border: 1px solid #00BE4C;
        border-radius: 16px;
        overflow-x: hidden;
    }

    &-input {
        display: flex;
        align-items: center;
        gap: 53px;

        input {
            height: 50px;
            padding: 0 20px;
            outline: none;
            border: none;

            &::placeholder {
                color: #b1b1b1;
                font-weight: 500;
                font-size: 15px;
                line-height: 15px;
            }
        }
    }

    &-discover {
        display: flex;
        align-items: center;
        gap: 10px;
        background-image: $primary-gradient;
        box-shadow: 0px 10px 20px -10px rgba(234, 234, 234, 0.4);
        padding: 10px 14px;
        border-radius: 16px;

        &-text {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: $white-color;
        }

        &-icon {
            &-link {
                display: block;
                background-color: $white-color;
                color: $green-color;
                padding: 10px 14px;
                border-radius: 10px;
            }
        }
    }

    &-member {
        color: #838383;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;

        &-link {
            color: #FF4D20;
            font-weight: 600;
            font-size: 18px;
            line-height: 30px;
        }
    }
}