.product {
   margin-bottom: 120px;

   &-section {
      &-title {
         margin-bottom: 8px;
      }
   }

   &-heading {
      font-weight: 700;
      font-size: 52px;
      line-height: 62px;
      color: $heading-color;
      width: 100%;
      max-width: 590px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
      text-align: center;
   }

   &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
      margin-bottom: 55px;
   }

   &-item {
      padding: 21px 35px 21px 28px;
      border: 1.2px solid #EFEFEF;
      border-radius: 24px;
      transition: all 0.2s ease-in;

      &:hover {
         transform: translateY(-2px);
         box-shadow: 0 0 7px rgba(143, 143, 143, 0.2);
      }

      &-image {
         height: 160px;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         margin-bottom: 20px;

         img {
            object-fit: cover;
         }
      }

      &-rating {
         display: flex;
         align-items: center;
         gap: 5px;
         margin-bottom: 10px;
      }

      &-title {
         font-weight: 600;
         font-size: 20px;
         line-height: 24px;
         color: #181818;
         margin-bottom: 12px;
      }

      &-desc {
         font-weight: 400;
         font-size: 16px;
         line-height: 26px;
         color: #787878;
         width: 100%;
         max-width: 287px;
         margin-bottom: 17px;
      }

      &-bottom {
         display: flex;
         align-items: center;
         justify-content: space-between;
      }

      &-price {
         font-weight: 500;
         font-size: 20px;
         line-height: 24px;
      }

      &-media {
         display: flex;
         align-items: center;
         gap: 10px;
      }
   }

   &-button {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      background: linear-gradient(101.98deg, #46C266 41.25%, #2FB652 98.64%);
      box-shadow: 0px 10px 20px -10px rgba(58, 186, 90, 0.16);

      &-icon {
         box-shadow: 0px 10px 20px -8px rgba(185, 66, 42, 0.19);
         color: $green-color;
      }
   }
}