// Header Responsive
.header {

   @media screen and (max-width: 768.98px) {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: $white-color;
      box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);
      padding: 25px;
      margin: 0;
      z-index: 1000;

      &-menu {
         display: none;
      }

      &-auth {
         display: none;
      }
   }

   @media screen and (max-width: 375.98px) {
      padding: 20px 5px;
   }

}

// Menu Responsive
.menu {
   @media screen and (max-width: 768.98px) {

      &-toggle {
         display: block;
         cursor: pointer;
      }
   }

}

// Navigation Responsive
.navigation {
   @media screen and (max-width: 465.98px) {
      width: 260px;

      &-auth {
         flex-wrap: wrap;
      }

      &-list {
         padding: 50px 30px;
      }

      &-item {
         margin-bottom: 13px;
      }
   }

}

// Hero Section Responsive
.hero {
   @media screen and (min-width: 1399.98px) {
      &-image {
         transform: translateX(12%);
      }
   }


   @media screen and (max-width: 1023.98px) {

      &-main {
         flex-direction: column-reverse;
         gap: 35px;
      }

      &-heading {
         font-size: 53px;
      }

      &-desc {
         font-size: 16px;
      }

      &-member {
         font-size: 16px;
      }

      &-content,
      &-image {
         width: 100%;
      }
   }

   @media screen and (max-width: 767.98px) {
      margin-top: 140px;

      &-heading {
         font-size: 43px;
      }

      &-desc {
         font-size: 15px;
      }

      &-member {
         font-size: 15px;
      }
   }

   @media screen and (max-width: 499.99px) {
      &-heading {
         font-size: 32px;
      }

      &-location {
         margin-bottom: 30px;
      }

      &-form {
         flex-direction: column;
         gap: 20px;

         &-input {
            width: 100%;
            border-radius: 15px;
            overflow: hidden;

            &-icon {
               display: none;
            }
         }

         &-discover {
            width: 100%;
         }

         &-button {
            border-radius: 15px;
         }
      }
   }

   @media screen and (max-width: 374.98px) {

      &-heading {
         font-size: 40px;
         line-height: 50px;
         margin-bottom: 15px;

      }

      &-desc {
         font-size: 15px;
      }

      &-member {
         font-size: 15px;

         &-link {
            font-size: 17px;
         }
      }

      &-form {
         &-input {
            padding: 20px;
         }

         &-button {
            padding: 10px 15px;
            ;
         }
      }
   }
}

// Food Section Responsive
.food {

   @media screen and (max-width: 767.98px) {
      &-header {
         margin-bottom: 30px;
      }
   }

   @media screen and (max-width: 567.98px) {
      &-item {
         height: 160px;
      }
   }

   @media screen and (max-width: 494.98px) {
      &-header {
         &-heading {
            font-size: 32px;
         }
      }
   }
}

// Slick Slider Responsive
.slick {
   @media screen and (max-width: 1024.98px) {
      &-prev {
         right: 7%;
      }
   }

   @media screen and (max-width: 767.98px) {
      &-prev {
         right: 9%;
      }

      &-arrow {
         top: -27%;
      }
   }


}

// Order Section Responsive
.order {
   @media screen and (max-width: 1149.98px) {

      &-offer {
         &-main {
            flex-direction: column;
            background: 0;
            padding: 0;
            gap: 40px;
         }

         &-content {
            background-color: #FEB618;
            padding: 61px 20px;
            border-radius: 24px;
            width: 100%;
            height: 240px;
         }

         &-images {
            background-color: #2FB652;
            justify-content: space-between;
            padding: 20px;
            border-radius: 24px;
            width: 100%;
            height: 240px;
         }
      }
   }

   @media screen and (max-width: 1023.98px) {
      &-heading {
         font-size: 46px;
      }
   }


   @media screen and (max-width: 767.98px) {
      &-heading {
         font-size: 40px;
      }

      &-list {
         grid-template-columns: 1fr 1fr;
      }
   }

   @media screen and (max-width:600px) {

      &-offer {
         &-images {

            img {
               width: 100px;
               object-fit: cover;
            }
         }
      }
   }

   @media screen and (max-width:494.98px) {
      &-heading {
         font-size: 32px;
      }

      &-list {
         grid-template-columns: 1fr;
      }

      &-offer {
         &-images {

            img {
               width: 60px;
               object-fit: cover;
            }

            &-item {
               &:nth-child(6) {
                  transform: translate(-32px, -35px);
               }
            }
         }
      }
   }

   @media screen and (max-width: 350.98px) {

      &-offer {
         &-images {

            img {
               width: 40px;
               object-fit: cover;
            }
         }
      }
   }
}

// Product Section Responsive
.product {
   @media screen and (max-width: 1023.98px) {
      &-heading {
         font-size: 46px;
      }

      &-list {
         grid-template-columns: repeat(2, 1fr);
      }
   }

   @media screen and (max-width: 767.98px) {
      &-heading {
         font-size: 40px;
      }

      &-list {
         grid-template-columns: 1fr;
      }
   }

   @media screen and (max-width: 494.98px) {
      &-heading {
         font-size: 32px;
      }
   }



}

// Location Section Responsive
.location {
   @media screen and (max-width: 1023.98px) {
      &-heading {
         font-size: 46px;
      }
   }

   @media screen and (max-width: 768.98px) {
      &-heading {
         font-size: 40px;
      }
   }

   @media screen and (max-width: 667.98px) {
      &-pickup {
         flex-wrap: wrap;
         gap: 10px;
      }
   }

   @media screen and (max-width: 494.98px) {

      &-heading {
         font-size: 32px;
      }

      &-content {
         width: 100%;

         &-header {
            gap: 30px;
         }

         &-title {
            font-size: 25px;
         }
      }

      &-point {
         &-caption {
            font-size: 13px;
         }

         &-title {
            font-size: 25px;
         }

         &-tick {
            &-road {
               font-size: 13px;
            }
         }
      }
   }
}

// Blog Section Responsive
.blog {
   @media screen and (max-width: 1023.98px) {
      margin-bottom: 150px;

      &-header {
         &-heading {
            font-size: 46px;
         }

         &-desc {
            font-size: 15px;
         }
      }

      &-list {
         grid-template-columns: repeat(2, 1fr);
      }
   }

   @media screen and (max-width: 767.98px) {
      margin-bottom: 100px;

      &-header {
         &-heading {
            font-size: 40px;
         }
      }
   }

   @media screen and (max-width: 667.98px) {
      &-list {
         grid-template-columns: 1fr;
      }
   }


   @media screen and (max-width: 494.98px) {
      &-header {
         &-heading {
            font-size: 32px;
         }

         &-desc {
            font-size: 14px;
         }
      }
   }

}

// Application Section Responsive
.application {
   @media screen and (max-width: 1023.98px) {
      margin-bottom: 90px;

      &-main {
         gap: 60px;
      }
   }

   @media screen and (max-width: 767.98px) {
      &-main {
         flex-direction: column;
      }

      &-content,
      &-image {
         width: 100%;
      }
   }

   @media screen and (max-width: 494.98px) {
      &-image {
         width: unset;
      }

      &-store {
         flex-wrap: wrap;
         gap: 30px;
      }
   }



}

// Subscribe Section Responsive
.subscribe {
   @media screen and (max-width: 1023.98px) {
      margin-bottom: 90px;

      &-main {
         gap: 45px;
      }

      &-form {
         flex-direction: column;
         align-items: flex-start;
         gap: 20px;

         &-input input,
         &-button {
            border-radius: 20px;
         }
      }
   }

   @media screen and (max-width: 768.98px) {

      &-main {
         gap: 40px;
         padding: 60px 50px;
         flex-wrap: wrap;
      }

      &-form {
         flex-direction: row;
      }
   }

   @media screen and (max-width: 637.98px) {
      &-form {
         flex-direction: column;
      }

   }

   @media screen and (max-width: 437.98px) {
      &-main {
         gap: 30px;
         padding: 40px;

      }

      &-form {
         &-input input {
            padding-right: 0;
         }
      }
   }
}

// Countries Section Responsive
.countries {
   @media screen and (max-width: 1023.98px) {
      margin-bottom: 90px;

      &-heading {
         font-size: 30px;
         margin-bottom: 50px;
      }

      &-content {
         gap: 50px;
         grid-template-columns: repeat(3, 1fr);
      }
   }

   @media screen and (max-width: 767.98px) {
      &-heading {
         font-size: 25px;
         margin-bottom: 40px;
      }

      &-content {
         gap: 40px;
         grid-template-columns: repeat(2, 1fr);
      }
   }

   @media screen and (max-width: 357.98px) {
      &-content {
         gap: 30px;
         grid-template-columns: 1fr;
      }
   }

}

// About Section Responsive
.about {
   @media screen and (max-width: 1024.98px) {
      &-heading {
         margin-bottom: 70px;
      }

      &-member {
         &-list {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
         }
      }
   }

   @media screen and (max-width: 768.98px) {
      &-heading {
         margin-bottom: 50px;
      }

      &-intro {
         flex-wrap: wrap;
         width: 100%;
         gap: 50px;
         margin-bottom: 50px;

         &-title {
            font-size: 35px;
         }

         &-image,
         &-content {
            width: 100%;
         }
      }

      &-member {
         &-list {
            grid-template-columns: repeat(2, 1fr);
         }
      }
   }

   @media screen and (max-width: 574.98px) {
      &-member {
         &-list {
            grid-template-columns: 1fr;
         }
      }
   }



}

// Contact Section Responsive
.contact {
   @media screen and (max-width: 1024.98px) {
      &-box {
         grid-template-rows: auto;
         grid-template-columns: 1fr;
         grid-template-areas:
            "form"
            "info"
            "map";
      }

      &-map {
         padding: 0;
         min-height: 300px;
      }
   }

   @media screen and (max-width: 767.98px) {
      margin-top: 150px;

      &-box {
         grid-gap: 35px;
      }

      &-item {
         padding: 30px;
      }
   }

   @media screen and (max-width: 374.98px) {
      &-item {
         padding: 20px;
      }
   }

}

// Footer Section Responsive
.footer {
   @media screen and (max-width: 1279.98px) {
      &-content {
         grid-template-columns: repeat(4, 1fr);
         grid-gap: 44px 134px;
         margin-bottom: 20px;
      }
   }

   @media screen and (max-width: 1023.98px) {
      &-content {
         grid-template-columns: repeat(3, 1fr);

      }
   }

   @media screen and (max-width: 767.98px) {
      &-content {
         grid-template-columns: repeat(2, 1fr);
         grid-gap: 70px;
      }
   }

   @media screen and (max-width: 357.98px) {
      &-content {
         grid-template-columns: 1fr;
         grid-gap: 30px;
      }
   }

}