.slick {
   &-initialized {
      .slick {
         &-slide {
            margin: 70px 10px;
         }
      }
   }

   &-arrow {
      position: absolute;
      top: -37%;
      right: 0;

   }

   &-prev {
      right: 5%;
   }

   &-arrow,
   &-prev {
      display: flex !important;
      justify-content: center;
      align-items: center;
      border: none;
      outline: none;
      padding: 13px 13px;
      cursor: pointer;
      border-radius: 100rem;
      font-size: 20px;
      background-color: #d3d3d3;
      color: $white-color;
      z-index: 2;
      transition: all 0.3s ease-in;

      &:hover {
         background-color: $heading-color;
      }
   }
}