$background-color: #E5E5E5;
$section-title: #FF4415;
$heading-color: #101010;
$gray-color: #666666;
$text-color: #646464;
$green-color: #36BD59;
$white-color: #ffffff;
$primary-gradient: linear-gradient(92.18deg, #3FDA7D 48.17%, #00BE4C 100%);
$primary-font: 'Inter', sans-serif;
$secondary-font: 'Seaweed Script', cursive;